:root {
  --md-primary-fg-color: rgb(19, 79, 99);
  --md-orange_bkw: rgb(242, 106, 54);
}

.Bild-Titel{
  font-size: small;
}

h1 {counter-reset:Figure;}
.Bild-Titel::before{
  content: "Fig. " counter(Figure) " ";
  counter-increment: Figure;
}

.Legende{
  font-size: small;
  opacity: .7;
  line-height:0.5em;
}

.Ziel{
  font-size: small;
  opacity: .7;
  line-height:0.5em;
}

h5{
  text-transform: revert;
}

h2 {
  color: var(--md-primary-fg-color); 
}

.Objekt {

  font-size:large;
  font-weight:bold;
  /* color: var(--md-orange_bkw); */
}


/* [data-md-color-scheme="slate"] h2 {
  color: var(--md-orange_bkw); 
} */
